p {
    margin-bottom: 4px;
}

.button {
    border-radius: 100px;
}

.button-block {
    width: 100%;
    height: 48px;
    margin-top: 24px;
}

.button-primary {
    font-size: 18px;
}

.button-disabled {
    pointer-events: none;
    opacity: .54;
}

.whitespace-separator {
    margin: 48px 0 48px 0;
}

.section {
    padding: 8rem 0 7rem;
    text-align: center;
}
.section-heading,
.section-description {
    margin-bottom: 1.2rem;
}

.section-heading {
    font-weight: 500;
    font-style: italic;
    color: white;
    letter-spacing: normal;
}

.thin-separator {
    border-top: 1px solid #E1E1E1;
}

.progress-bar progress {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    height: 14px;
    width: 100%;
    margin-bottom: 12px;

    display: block;

    /* Firefox */
    border: none;
    background: #EEE;
    border-radius: 1px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.progress-bar-details progress {
    margin-top: 8px;
    margin-bottom: 4px;

    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    height: 8px;
    width: 100%;

    display: block;

    /* Firefox */
    border: none;
    background: #EEE;
    border-radius: 1px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.progress-bar progress::-webkit-progress-bar, .progress-bar-details progress::-webkit-progress-bar {
    background: #EEE;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
    border-radius: 1px;
}

.progress-bar progress::-webkit-progress-value {
    background-color: rgb(80,186,166);
    border-radius: 1px;
}

.progress-bar progress::-moz-progress-bar {
    background-color: rgb(80,186,166);
    border-radius: 1px;
}

.progress-bar-details progress::-webkit-progress-value {
    background-color: #607D8B;
    border-radius: 1px;
}

.progress-bar-details progress::-moz-progress-bar {
    background-color: #607D8B;
    border-radius: 1px;
}


.progress-bar-vertical-container {
    background-color: #cccccc;
    border-radius: 3px;
    box-shadow: none;

    position: relative;
    width: 16px;
    height: 100px;
    display: inline-block;
    margin-right: 10px;
}

.progress-bar-vertical-container > .progress-bar-vertical {
    width: 100% !important;
    position: absolute;
    bottom: 0;

    background-color: rgb(80,186,166);
    box-shadow: none;
}

.loading-wrapper {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding: 20px 20px 20px;
    border-radius: 5px;
    text-align: center;
}

.bar {
    float: left;
    width: 15px;
    height: 6px;
    border-radius: 2px;
    background-color: #4b9cdb;
}

.loader .bar {animation: loading-animation 2s cubic-bezier(.17,.37,.43,.67) infinite;}

@keyframes loading-animation {
    0%,100% {transform: translate(0,0);}

    50% {
        transform: translate(80px,0);
        background-color: #f5634a;
        width: 25px;
    }
}

.circle {
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 22px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    margin: 4px 2px 0 2px;
    background-color: #BDBDBD;
}

.bg-inactive { background-color: #BDBDBD; }
.bg-yellow { background-color: #FFCE00; }
.bg-white { background-color: #FFFFFF; }
.bg-green { background-color: #50BAA6; }
.bg-blue { background-color: #607D8B; }
.bg-red { background-color: #e74c3c; }


/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.value-multiplier {
    margin-bottom: .5rem;
    color: #11DFC7;
}
.value-heading {
    margin-bottom: .3rem;
}
.value-description {
    opacity: .8;
    font-weight: 300;
}

.text-white {
    color: white;
}

.text-XL {
    font-size: 48px;
}

.text-LG {
    font-size: 32px;
    font-weight: 500;
}

.text-MD {
    font-size: 20px;
    font-weight: 500;
}

.text-SM {
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    line-height: 120%;
    word-wrap: break-word;
    display: block;
    width: 100%;
}

.text-caption {
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
    line-height: 120%;
    color: rgba(0,0,0,0.54);
}

.align-text-center {
    text-align: center;
    display: block;
}

.interface-btn {
    height: 120px;
}

.interface-btn-details {
    height: 100px;
}

.interface-btn, .interface-btn-details {
    background-color:rgb(80,186,166);
    padding: 8px;
    border: none;
    color: white;
    width: 100%;
    box-shadow: 0 2px 2px rgba(0,0,0,0.23);
}

.interface-btn i, .interface-btn-details i {
    display: block;
}

.interface-btn:hover, .interface-btn:active, .interface-btn:enabled,
.interface-btn-details:hover, .interface-btn-details:active, .interface-btn-details:enabled,
.tab-btn:hover, .tab-btn:active, .tab-btn:enabled {
    color: white;
}

.tab-btn {
    border: none;
    border-radius: 0;
    width: 100%;
    height: 90px;
}
.tab-btn-active {
    background-color:rgb(80,186,166);

}
.tab-btn-active span {
    color: white;
}

.tab-btn-inactive {
    background-color: #BDBDBD;
}

.tab-btn-inactive:hover {
    background-color:rgb(80,186,166);
}

.tab-btn-inactive span {
    color: #757575;
}

.tab-btn-inactive:hover span {
    color: white;
}

.content-style {
    background-color: #607D8B;
    box-shadow: 0 2px 2px rgba(0,0,0,0.23);
}

.details-panel-style {
    padding: 24px;
}


